<form [formGroup]="form">
  <div class="form-group">
    <label for="proveedor">Proveedor</label>
    <div class="flex-grow-1">
      <p-autoComplete formControlName="proveedor" [suggestions]="suggestionsProveedor"
                      (completeMethod)="searchProveedor($event)"
                      [field]="getProveedor" [forceSelection]="true"
                      styleClass="w-100" inputStyleClass="w-100" inputId="proveedor" appendTo="body">
        <ng-template let-proveedor pTemplate="item">
          <div style="font-size: 0.8rem;">
            <p class="m-0 p-0">{{ proveedor.nombre }}&nbsp;({{proveedor.nit}})</p>
          </div>
        </ng-template>
      </p-autoComplete>
      <ng-container *ngIf="proveedor?.invalid && (proveedor?.touched || proveedor?.dirty)">
        <small *ngIf="proveedor?.hasError('required')" class="text-error">Campo requerido.</small>
      </ng-container>
    </div>
  </div>

  <div class="form-group">
    <label for="material">Material</label>
    <div class="flex-grow-1">
      <p-autoComplete formControlName="material" [suggestions]="suggestionsMaterial"
                      (completeMethod)="searchMaterial($event)"
                      [field]="getMaterial" [forceSelection]="true"
                      styleClass="w-100" inputStyleClass="w-100" inputId="material" appendTo="body">
        <ng-template let-material pTemplate="item">
          <div style="font-size: 0.8rem;">
            <p class="m-0 p-0">#{{material.id}}&nbsp;{{ material.descripcion }}</p>
          </div>
        </ng-template>
      </p-autoComplete>
      <ng-container *ngIf="material?.invalid && (material?.touched || material?.dirty)">
        <small *ngIf="material?.hasError('required')" class="text-error">Campo requerido.</small>
      </ng-container>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="cantidad">Cantidad<span *ngIf="material?.valid">&nbsp;({{material?.value?.unidadMedida?.descripcionPlural}})</span></label>
        <input formControlName="cantidad" pInputText pKeyFilter="pint" type="text" id="cantidad" class="form-control">
        <ng-container *ngIf="cantidad?.invalid && (cantidad?.touched || cantidad?.dirty)">
          <small *ngIf="cantidad?.hasError('required')" class="text-error">Campo requerido.</small>
        </ng-container>
      </div>
    </div>
  </div>

</form>

<div class="d-flex justify-content-start gap-2 mt-3">
  <button (click)="guardar()" [disabled]="guardando" pButton type="button" label="Guardar" [icon]="guardando ? 'pi pi-spin pi-spinner' : 'pi pi-save'" class="p-button-raised p-button-sm"></button>
  <button (click)="cancelar()" [disabled]="guardando" pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-raised p-button-danger p-button-sm"></button>
</div>
