
.tp-badge {
  display: inline-block;
  border-radius: 0px;
  text-align: center;
  padding: 0 .5rem;
}


.TIPO-BODEGA-PLANTA {
  background: linear-gradient(40deg,#ff6ec4,#7873f5) !important;
}

.TIPO-BODEGA-BODEGA {
  background: linear-gradient(40deg,#ffd86f,#fc6262) !important;
}

.ESTADO-PEDIDO-CREADO {
  background-color: #303F9F !important;
}

.ESTADO-PEDIDO-ANULADO {
  background-color: #B71C1C !important;
}

.ESTADO-PEDIDO-PENDIENTE {
  background-color: #FFC107 !important;
}

.ESTADO-PEDIDO-PROGRAMADO {
  background-color: #7E57C2 !important;
}

.ESTADO-PEDIDO-COMPLETADO {
  background-color: #00695C !important;
}

.ESTADO-MOVIMIENTO-PENDIENTE {
  background-color: #FFC107 !important;
}

.ESTADO-MOVIMIENTO-PROGRAMADO {
  background-color: #7E57C2 !important;
}

.ESTADO-MOVIMIENTO-CARGADO {
  background-color: #455A64 !important;
}

.ESTADO-MOVIMIENTO-ENTREGADO {
  background-color: #00695C !important;
}

.ESTADO-MOVIMIENTO-ANULADO {
  background-color: #B71C1C !important;
}

.PEDIDO-BADGE {
  background-color: #333 !important;
}

.ESTADO-VEHICULO-ALTA {
  background-color: #22C55E !important;
}

.ESTADO-VEHICULO-BAJA {
  background-color: #F59E0B !important;
}
