
.tp-badge {
  display: inline-block;
  border-radius: 0px;
  text-align: center;
  padding: 0 .5rem;
}


.TIPO-BODEGA-PLANTA {
  background: linear-gradient(40deg,#ff6ec4,#7873f5) !important;
}

.TIPO-BODEGA-BODEGA {
  background: linear-gradient(40deg,#ffd86f,#fc6262) !important;
}
