/* You can add global styles to this file, and also import other style files */

$enable-ltr: true;
$enable-rtl: true;

@import "~@coreui/coreui/scss/coreui";
@import "layout";
@import "fixes";
@import "custom";

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.tp-font-small {
  font-size: 0.85rem;
}

.text-error {
  color: #DC2626 !important;
  font-size: 0.8rem;
  line-height: 0.85;
}

.modal-catalogo {
  width: 95%;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .modal-catalogo {
    width: 85%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .modal-catalogo {
    width: 70%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .modal-catalogo {
    width: 50%;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .modal-catalogo {
    width: 40%;
  }
}
