<ng-container>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
         style="min-height: 4rem;">

      <div class="container-fluid">
        <button *ngIf="isAuthenticated" toggle="visible" cHeaderToggler [cSidebarToggle]="'sidebar'" class="ps-1">
          <i class="fa fa-solid fa-bars"></i>
        </button>
        <a class="navbar-brand" [routerLink]="['/']">TransPort</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
          aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
          <app-login-menu></app-login-menu>
        </div>
      </div>
    </nav>
  </header>
</ng-container>


