<div *ngIf="loadingPedido" class="d-flex flex-column align-items-center justify-content-center mt-5" style="height: 60vh">
  <p-progressSpinner></p-progressSpinner>
</div>

<ng-container *ngIf="!loadingPedido && pedido">
  <div class="p-card p-3">
    <div class="d-flex flex-column gap-0">
      <p class="m-0 p-0"><span class="p-badge PEDIDO-BADGE">Pedido No.{{pedido?.id}}</span></p>
      <p class="m-0 p-0 mt-2"><span style="font-weight: bold;">Estado:</span>&nbsp;<span class="p-badge ESTADO-PEDIDO-{{pedido?.estadoPedidoMaterial?.descripcion}}">{{pedido?.estadoPedidoMaterial?.descripcion}}</span></p>
      <p class="m-0 p-0"><span style="font-weight: bold;">Fecha:</span>&nbsp;{{pedido?.fechaSolicitado|date:'dd/MM/yyyy'}}</p>
      <p class="m-0 p-0"><span style="font-weight: bold;">Solicitante:</span>&nbsp;{{pedido?.bodegaSolicita?.descripcion}}&nbsp;<span class="d-block tp-font-small"><i class="fa-solid fa-location-dot"></i>&nbsp;{{pedido.bodegaSolicita?.ubicacion?.municipio?.descripcion}}
        ,&nbsp;{{pedido.bodegaSolicita.ubicacion?.municipio?.departamento?.descripcion}}</span></p>
      <p class="m-0 p-0"><span style="font-weight: bold;">Material:</span>&nbsp;{{pedido?.material?.descripcion}}</p>
      <p class="m-0 p-0"><span style="font-weight: bold;">Cantidad:</span>&nbsp;{{pedido?.cantidad}}&nbsp;{{ pedido?.cantidad === 1 ? pedido?.material?.unidadMedida?.descripcion : pedido.material?.unidadMedida?.descripcionPlural}}</p>
      <p class="m-0 p-0"><span style="font-weight: bold;">Detalle:</span>&nbsp;{{pedido?.detalle}}</p>
    </div>
  </div>

  <div class="d-flex align-items-center mt-2">
    <button *ngIf="isPendiente()" (click)="aprobar()" [disabled]="aprobando" pButton type="button" label="Aprobar" [icon]="aprobando ? 'pi pi-spin pi-spinner' : 'pi pi-check'" class="p-button-raised p-button-sm p-button-success"></button>
  </div>

  <ng-container *ngIf="movimientos.length > 0">
    <hr>
    <p class="m-0 p-0">Programaci&oacute;n</p>
    <p-table [value]="movimientos" [loading]="loadingMovimientos" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr class="tp-font-small">
          <th>Fecha</th>
          <th>Origen</th>
          <th>Conductor</th>
          <th>Veh&iacute;culo</th>
          <th class="text-center">Cantidad</th>
          <th class="text-center">Estado</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-movimiento>
        <tr>
          <td>{{movimiento.fechaInicioProgramado|date:'dd/MM/yyyy'}}</td>
          <td>{{movimiento.bodegaOrigen?.descripcion}}&nbsp;<span class="d-block tp-font-small"><i class="fa-solid fa-location-dot"></i>&nbsp;{{movimiento.bodegaOrigen?.ubicacion?.municipio?.descripcion}}
            ,&nbsp;{{movimiento.bodegaOrigen?.ubicacion?.municipio?.departamento?.descripcion}}</span></td>
          <td>{{movimiento.conductor?.user?.firstName}}&nbsp;{{movimiento.conductor?.user?.lastName}}</td>
          <td>{{movimiento.vehiculo?.descripcion}}</td>
          <td class="text-center">{{movimiento.cantidad}}&nbsp;<span>{{movimiento.cantidad === 1 ? movimiento.pedidoMaterial?.material?.unidadMedida?.descripcion : movimiento.pedidoMaterial?.material?.unidadMedida?.descripcionPlural }}</span></td>
          <td>
            <div class="d-flex justify-content-center align-items-center">
              <span class="p-badge ESTADO-MOVIMIENTO-{{movimiento.estadoMovimientoBodega?.descripcion}}">{{movimiento.estadoMovimientoBodega?.descripcion}}</span>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>

</ng-container>
