<div *ngIf="loadingPedido" class="d-flex flex-column align-items-center justify-content-center mt-5" style="height: 60vh">
  <p-progressSpinner></p-progressSpinner>
</div>

<ng-container *ngIf="!loadingPedido && pedido">
  <div class="p-card p-3">
    <div class="d-flex flex-column gap-0">
      <p class="m-0 p-0"><span class="p-badge PEDIDO-BADGE">Pedido No.{{pedido?.id}}</span></p>
      <p class="m-0 p-0 mt-2"><span style="font-weight: bold;">Estado:</span>&nbsp;<span class="p-badge ESTADO-PEDIDO-{{pedido?.estadoPedidoMaterial?.descripcion}}">{{pedido?.estadoPedidoMaterial?.descripcion}}</span></p>
      <p class="m-0 p-0"><span style="font-weight: bold;">Fecha:</span>&nbsp;{{pedido?.fechaSolicitado|date:'dd/MM/yyyy'}}</p>
      <p class="m-0 p-0"><span style="font-weight: bold;">Solicitante:</span>&nbsp;{{pedido?.bodegaSolicita?.descripcion}}&nbsp;<span class="d-block tp-font-small"><i class="fa-solid fa-location-dot"></i>&nbsp;{{pedido.bodegaSolicita?.ubicacion?.municipio?.descripcion}}
        ,&nbsp;{{pedido.bodegaSolicita.ubicacion?.municipio?.departamento?.descripcion}}</span></p>
      <p class="m-0 p-0"><span style="font-weight: bold;">Material:</span>&nbsp;{{pedido?.material?.descripcion}}</p>
      <p class="m-0 p-0"><span style="font-weight: bold;">Cantidad:</span>&nbsp;{{pedido?.cantidad}}&nbsp;{{ pedido?.cantidad === 1 ? pedido?.material?.unidadMedida?.descripcion : pedido.material?.unidadMedida?.descripcionPlural}}</p>
      <p class="m-0 p-0"><span style="font-weight: bold;">Detalle:</span>&nbsp;{{pedido?.detalle}}</p>
    </div>
  </div>

  <div class="d-flex align-items-center mt-2">
    <button pButton type="button" label="Aprobar" icon="pi pi-check" class="p-button-raised p-button-sm p-button-success"></button>
  </div>


</ng-container>
